Source: perfsonar-elmond
Maintainer: perfSONAR developers <debian@perfsonar.net>
Section: misc
Priority: optional
Standards-Version: 4.3.0
Build-Depends: debhelper (>= 10)
Homepage: http://www.perfsonar.net
Vcs-Git: https://github.com/perfsonar/elmond.git
Vcs-Browser: https://github.com/perfsonar/elmond/tree/master

Package: perfsonar-elmond
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python3-flask,
 python3-opensearch-py, python3-dateutil, python3-isodate, python3-urllib3,
 apache2, apache2-ssl-dev, perfsonar-common, libapache2-mod-wsgi-py3
Description: perfSONAR Flask Application to maintain Esmond API
 A package that maintains the esmond API through a Flask application
 that translates Elastic's output for Esmond
